@model AppUser

@{
    ViewData["Title"] = "Min Sida";
}

<h2>Välkommen @Model.UserName </h2>


<hr/>
<a asp-controller="Events" asp-action="Create" class="btn btn-primary">Skapa Evenemang</a>

<hr/>

