
<!--Här ligger listan med anmälda users-->
<div class="row">
    <hr />
    <div class="col-md-12">
        <h3>Anmälda deltagare</h3>
        <div class="media-body">
            <ul class="list-group">
                <li class="list-group-item">Jane Doe <span class="badge">Creator</span></li>
                <li class="list-group-item">Jhon Doe</li>
            </ul>
        </div>
    </div>
</div>