
<!--Här visas alla event på Event/Index-sidan. Vi ska skapa en foreach-loop här-->
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://placehold.it/300?text=Event" class="img-responsive" />
                <h2>Julmarknad</h2>
                <p>Plats: Linköping</p>
                <p>Tid: 2018-11-25 14.00</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary">Läs mer</a>
            </div>
        </div>
    </div>
</div>