
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col col-md-12">
        <h3>Konto</h3>

        <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Registrera</a>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Logga in</a>

    </div>
</div>
